*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  --mainColor: #34e780;
  --loginColor: rgba(32, 29, 29, 0.7);
  --bodyFontSize: 1.1rem;
  --boxShadow: rgb(0 0 0 / 11%) 0 0 0 1px, rgb(0 0 0 / 5%) 0 10px 10px -5px;
  --borderRadius: 0.5rem;
  --mainPaddingHalf: 0.5rem;
  --mainPaddingOne: 1rem;
  --titleColor: rgba(0, 0, 0, 0.7);
}

body {
  background-color: #dedede;
  font-size: var(--bodyFontSize);
}

.login_form {
  color: var(--loginColor);
}

/*================================================
*
*  admin navbar 
*
*=================================================*/

.navbar-dark .navbar-nav .active > .nav-link,
.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link.show,
.navbar-dark .navbar-nav .show > .nav-link {
  color: var(--mainColor);
}
.navbar-expand-md .navbar-nav .dropdown-menu {
  padding: var(--mainPaddingOne) var(--mainPaddingHalf);
  box-shadow: var(--boxShadow);
}
.dropdown-item {
  padding-top: var(--mainPaddingHalf);
  padding-bottom: var(--mainPaddingHalf);
}
.dropdown-menu {
  border-radius: var(--borderRadius);
}
.dropdown-item:focus,
.dropdown-item:hover {
  border-radius: var(--borderRadius);
  background-color: var(--mainColor);
}

/*================================================
*
*  edit section
*
*=================================================*/
.header_color {
  color: var(--titleColor);
}
.form-group > span {
  color: red;
  font-size: 1.5rem;
  position: absolute;
  right: 18px;
  transform: translate(-50%, -50%);
  top: 70%;
}

/*================================================
*
*  update section
*
*=================================================*/
.update_section .update_text {
  font-size: 1.5rem;
}

/*================================================
*
*  add member section
*
*=================================================*/

.form-group .show__eye {
  color: black;
  position: absolute;
  font-size: 1.5rem;
  right: 25px;
  transform: translate(-50%, -50%);
  top: 70%;
}
.form-group .show__eye:hover {
  cursor: pointer;
}

/*================================================
*
*  manage member section
*
*=================================================*/

.table.manage__table td,
.table.manage__table th {
  min-width: 180px;
  vertical-align: middle;
}
.edit_delete_button {
  width: 75px;
  max-width: 75px;
}
