*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  --mainColor: #34e780;
  --loginColor: rgba(32, 29, 29, 0.7);
  --bodyFontSize: 1.1rem;
  --boxShadow: rgb(0 0 0 / 11%) 0 0 0 1px, rgb(0 0 0 / 5%) 0 10px 10px -5px;
  --borderRadius: 0.5rem;
  --mainPaddingHalf: 0.5rem;
  --mainPaddingOne: 1rem;
  --titleColor: rgba(0, 0, 0, 0.7);
  --backgroundDark: #343a40;
}

body {
  font-size: var(--bodyFontSize);
}

.header_color {
  color: var(--titleColor);
}

.hideList {
  transition: all 0.3s ease;
}

.hideList:hover {
  color: #ddd;
  cursor: pointer;
}

/* 
*================================================================
*
*
*     categories page
*
*
* ================================================================  */
.user_card-description {
  min-height: 100px;
  max-height: 100px;
  overflow-y: auto;
}

.category_price {
  font-size: 27px;
  font-weight: 500;
}

/* 
*================================================================
*
*
*     login page
*
*
* ================================================================  */

.login-section {
  height: calc(100vh - 54px);
}
.login-section .container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.form-group .show__eye {
  color: rgba(0, 0, 0, 0.8);
  position: absolute;
  font-size: 1.4rem;
  right: 25px;
  transform: translate(-50%, -50%);
  top: 50%;
}
.form-group .show__eye:hover {
  cursor: pointer;
}

.form-group > span {
  color: red;
  font-size: 1.3rem;
  position: absolute;
  right: 10px;
  transform: translate(-50%, -50%);
  top: 55%;
}

.nav-pills .nav-link {
  background: var(--backgroundDark);
  color: white;
  border-radius: 0;
  border: none;
}

.nav-pills .nav-link.active.sign-up,
.nav-pills .show > .nav-link {
  background-color: #28a745;
}

/* 
*================================================================
*
*
*     index page
*
*
* ================================================================  */

/* .main {
  padding-top: 54px;
}
@media (max-width: 768px) {
  .main {
    padding-top: 52px;
  }
} */

#carouselExampleControls .carousel-item {
  height: calc(100vh - 55px);
}
#carouselExampleControls .carousel-item > img {
  height: 100%;
  background-size: cover;
}
/* .hero-section {
  position: relative;
  height: calc(100vh - 55px);
} */
/* .hero-section .container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding-bottom: 55px;
} */
/* @media (min-width: 992px) {
  .hero-section .container {
    padding-bottom: 54px;
  }
} */

/* .hero-section .heading {
  color: var(--titleColor);
}

.hero-section .hero__more {
  background-color: #343a40;
  color: white;
  border-radius: 4px;
  transition: 0.4s;
}

.hero-section .hero__more:hover {
  background-color: #364b5f;
  color: white;
  text-decoration: none;
} */

/* 
*================================================================
*
*
*     profile page
*
*
* ================================================================  */

.strapProfile::before,
.strapProfileNotActive::before {
  position: absolute;
  content: attr(data-register);
  width: 100%;
  color: white;
  left: -35%;
  top: 7%;
  display: inline-block;
  text-align: center;
  transform: rotate(-45deg);
}
.strapProfile::before {
  background-color: #34e780;
}
.strapProfileNotActive::before {
  background-color: violet;
}

.profile__data {
  border: none;
  border-radius: 25px;
  box-shadow: 0 0.035rem 1rem rgba(0, 0, 0, 0.075);
}

.profile-header-img {
  margin: 35px auto 0;
  width: 120px;
  height: 120px;
  display: flex;
}

.profile-header-img > img.img-fluid {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  padding: 2px;
  border: 3px solid #51d2b7;
}
.profile-header-img > img.img-fluid::before {
  position: absolute;
  content: "";
  background-color: #343a40;
}

.profile-header {
  margin-top: 43px;
}

.edit-profile {
  border-top: 1px solid rgb(234 234 234);
}

.edit-profile > p {
  color: #212529;
  line-height: 1.2;
}
.editProfile-link {
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  font-weight: 500;
  transition: all 0.3s;
}
.editProfile-link:hover {
  background-color: rgb(234 234 234);
  text-decoration: none;
}

/* 
*================================================================
*
*
*     profile page
*
*
* ================================================================  */

.comments-list li:nth-of-type(even),
.items_details-list li:nth-of-type(odd) {
  background-color: rgba(0, 0, 0, 0.03);
}

/* 
*================================================================
*
*
*     new advertisement page
*
*
* ================================================================  */

.form-group > span {
  color: red;
  font-size: 1.3rem;
  position: absolute;
  right: 20px;
  transform: translate(-50%, -50%);
  top: 70%;
}

/* 
*================================================================
*
*
*     items page
*
*
* ================================================================  */

.comment-img {
  flex-basis: 100px;
}
.user-comment {
  flex: 1;
}
.user-comment > p {
  background-color: rgba(0, 0, 0, 0.03);
}
